## Q1. Write Python codes for the following arithmetic operations. 

Assume $x = 4$, $y=2$, $z=0.5$.

In [206]:
x = 4
y = 2
z = 0.5

1. $\dfrac{(x+3y)z}{x+y} + xy +  \dfrac{z}{2x}$

In [207]:
# your code here
Q1_1 = ((x+3*y)*z)/(x+y)+x*y+z/(2*x)
Q1_1

8.895833333333334


2. $x^2 y +  \dfrac{x(y+3z^2)}{\sqrt{z}} $

In [208]:
# your code here
Q1_2 = (x**2)*y+(x*(y+3*(z**2)))/(z**0.5)
Q1_2

47.55634918610404

3. $x^3 -2x + \dfrac{x^z}{z^y}$

In [209]:
# your code here
Q1_3 = (x**3)-2*x+(x**z)/(z**y)
Q1_3

64.0

4. $\dfrac{z(2y^3 - 4y +11) + (1-z)(2x^3 - 4x +11)}{4x^3}$

In [210]:
# your code here
Q1_4 = (z*(2*(y**3)-4*y+11)+(1-z)*(2*(x**3)-4*x+11))/(4*(x**3))
Q1_4

0.27734375

5. $(4 - 2 x + 0.3x^4)y^2 + x^3y + (4y^2-5)x^2$

In [211]:
# your code here
Q1_5 = (4-2*x+0.3*(x**4))*(y**2)+(x**3)*y+(4*(y**2)-5)*(x**2)
Q1_5

595.2

6. The quotient of $\dfrac{3x(3y^2 - 2y + 5) - 4y(2x^3 - 5x + 7)}{5x}$

In [212]:
# your code here
Q1_6 = (3*x*(3*(y**2)-2*y+5)-4*y*(2*(x**3)-5*x+7))//(5*x)
Q1_6

-39

7. The remainder of $\dfrac{3x(3y^2 - 2y + 5) - 4y(2x^3 - 5x + 7)}{5x}$

In [213]:
# your code here
Q1_7 = (3*x*(3*(y**2)-2*y+5)-4*y*(2*(x**3)-5*x+7))%(5*x)
Q1_7

16

8. $\left(3x(2y^3 + 5) - 3y^6(x^2 - x + 3)\right)^z$

In [217]:
# your code here
Q1_8 = (3*x*(2*(y**3)+5)-3*(y**6)*((x**2)-x+3))**z
Q1_8

(3.1390160515818335e-15+51.264022471905186j)

## Q2. Write Python codes for the following logical operations.

1. The answer to Q1.1 is equal to 3.

In [218]:
# your code here
Q1_1 == 3

False

2. The answer to Q1.2 is greater than 10.

In [219]:
# your code here
Q1_2 > 10

True

3. The answer to Q1.3 is less than 100.

In [220]:
# your code here
Q1_3 < 100

True

4. The answer to Q1.4 lies between 4 and 5.

In [221]:
# your code here
4 < Q1_4 < 5

False

5. The answer to Q1.5 is either greater than 900 or less than or equal to 800.

In [222]:
# your code here
(Q1_5 > 900) or (Q1_5 <= 800)

True

6. The product of the answer to Q1.6 and the answer to Q1.7 is `not` positive.

In [223]:
# your code here
(Q1_6 <= 0) and (Q1_7 <= 0)

False

## Q3. String Operations

1. Create a variable that contains the string "hallo world!"

In [224]:
# your code here
a = "hallo world!"
a

'hallo world!'

2. Fix the misspelled word by replacing the misspelled character with the correct one.

In [225]:
# your code here
a = a.replace('a','e')
a

'hello world!'

3. Remove the exclamation mark permanently.

In [226]:
# your code here
a = a.replace('!','')
a

'hello world'

4. Change all characters of the string to uppercase.

In [227]:
# your code here
a = a.upper()
a

'HELLO WORLD'

5. Change the first chracter of the string to uppercase and the rest to lowercase.

In [228]:
# your code here
a = a.capitalize()
a

'Hello world'

6. Change the first chracters of the two words in the string to uppercases and the rest to lowercase.

In [229]:
# your code here
a = a.title()
a

'Hello World'

7. Change the string to "hELLO wORLD"

In [230]:
# your code here
a = a.swapcase()
a

'hELLO wORLD'

8. Create two variables by splitting the string into two words.

In [231]:
# your code here
w1 = a.split()[0]
w2 = a.split()[1]

print(w1)
print(w2)

hELLO
wORLD

9. Using the two variables that you created above, create two new variables that contain the following strings respectively.
- "HELLO" + " my friend"
- "We are the world"

In [232]:
# your code here
s1 = w1.upper() + " my friend"
s2 = "We are the " + w2.lower()

print(s1)
print(s2)

HELLO my friend
We are the world

## Q4. Working with Containers

The following is the syllabus for this course.

- 1: Basic Operations
- 2: Primitive Data Types
- 3: Containers
- 4: Branching-Iteration

1. Create a tuple containing the lecture numbers, and another tuple containing the contents of the lectures.

In [233]:
# your code here
nums = (1, 2, 3, 4)
contents = ('Basic Operations', 'Primitive Data Types', 'Containers', 'Branching-Iteration')

print(nums)
print(contents)

(1, 2, 3, 4)
('Basic Operations', 'Primitive Data Types', 'Containers', 'Branching-Iteration')

2. Convert the tuples that you have created above into lists.

In [234]:
# your code here
nums_lst = list(nums)
contents_lst = list(contents)

print(nums_lst)
print(contents_lst)

[1, 2, 3, 4]
['Basic Operations', 'Primitive Data Types', 'Containers', 'Branching-Iteration']

3. Write down the Python code to print "The content of the Lecture # is ##" using f-string method and the lists that you created above, where # is the lecture number and ## is the content.

In [235]:
# your code here
for num, content in zip(nums_lst, contents_lst):
    print("The content of the Lecture %s is %s" % (num, content))

The content of the Lecture 1 is Basic Operations
The content of the Lecture 2 is Primitive Data Types
The content of the Lecture 3 is Containers
The content of the Lecture 4 is Branching-Iteration

4. Create a dictionary that contains the syllabus of this course using the two lists above.

In [236]:
# your code here
d = {key: value for key, value in zip(nums_lst, contents_lst)}
d

{1: 'Basic Operations',
 2: 'Primitive Data Types',
 3: 'Containers',
 4: 'Branching-Iteration'}

5. Add "5: Functions" to the dictionary as a new item.

In [237]:
# your code here
d[5] = "Functions"
d

{1: 'Basic Operations',
 2: 'Primitive Data Types',
 3: 'Containers',
 4: 'Branching-Iteration',
 5: 'Functions'}

6. Remove the item "3. Containers" from the dictionary

In [238]:
# your code here
d.pop(3)
d

{1: 'Basic Operations',
 2: 'Primitive Data Types',
 4: 'Branching-Iteration',
 5: 'Functions'}